* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.app-container {
  display: flex;
}

.sidebar {
  flex: 0 0 150px;
  background-color: #9b72cf;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
}

.profile-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.profile-text p {
  margin: 5px 0;
}

.username-display {
  color: #2f184b;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all;
}
.slide-fade-enter, .slide-fade-leave-to /* .slide-fade-leave-active in <2.1.8 */ {
  opacity: 0;
  transform: translateY(-10px);
}

.filter-section {
  align-items: center;
  margin-top: 30px;
}

.filter-title {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.filter-icon {
  margin-right: 10px;
}

.filter-dropdown {
  margin-top: 20px;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px 10px 5px 10px;
  background-color: #532b88;
  font-weight: bold;
  transition: background-color 0.3s;
}

.filter-header:hover {
  background-color: #6a3dbb;
}

.filter-chips {
  margin-top: 10px;
}

.chip {
  display: inline-block;
  background-color: #c8b1e4;
  color: #2f184b;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}

.remove-chip {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.sort-pagination-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
}

.sort-options {
  display: flex;
}

.sort-options button {
  display: flex;
  align-items: center; /* Align text and arrows vertically */
  justify-content: center; /* Center content horizontally */
  width: 100px; /* Set a fixed width for all buttons */
  height: 40px; /* Set a fixed height for all buttons */
  background-color: #532b88;
  color: #f4effa;
  border: none;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px 10px 5px 10px;
  transition: transform 0.3s, background-color 0.3s;
}

.sort-options button:hover {
  background-color: #6a3dbb;
  transform: scale(1.05);
}

.sort-options button:focus {
  outline: none;
}

.sort-options span {
  margin-left: 5px;
}

.pagination {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.pagination button {
  padding: 8px;
  margin: 0 5px;
  background-color: #f4effa;
  color: #532b88;
  border: none;
  cursor: pointer;
  border-radius: 5px 10px 5px 10px;
  transition: background-color 0.3s;
}

.pagination button.active {
  background-color: #532b88;
  color: #f4effa;
  border-radius: 5px;
}

.pagination button:disabled {
  color: #9b72cf;
  cursor: default;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f3f1f7;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.archive-title {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.search-container {
  display: flex;
  flex: 1;
  position: relative;
  justify-content: center;
  max-width: 400px; /* Adjust the max-width as needed */
  transition: transform 0.3s;
}

.search-container:hover {
  transform: scale(1.02);
}

.search-input {
  flex: 1;
  padding: 8px 40px 8px 15px; /* Add padding to the right for the clear button */
  border-radius: 50px;
  background-color: #c8b1e4;
  color: #2f184b;
  border: none;
  cursor: pointer;
}

.clear-search-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #2f184b;
  font-size: 16px;
}


.music-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.music-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 20px; /* Default border-radius */
  border-radius: 10px 30px 10px 30px; /* Custom border-radius for diagonal corners */
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.music-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item-info h3 {
  margin: 0;
  font-size: 18px;
}

.item-info p {
  margin: 5px 0;
}

.item-info p {
  margin: 5px 0;
}

.upload-btn-dashboard {
  padding: 10px 20px;
  background-color: #532b88;
  border-radius: 5px 10px 5px 10px;
  color: #f4effa;
  border: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.upload-btn-dashboard:hover {
  background-color: #6d28d9;
  transform: scale(1.05);
}

.year-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
}

.worker-btn {
  background-color: #532b88;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.worker-btn:hover {
  background-color: #6d28d9;
}

.items-per-page select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  border-radius: 5px 10px 5px 10px;
  margin-left: 10px;
}
